<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-atajo-update" version="0.0.2">
	<name>Atajo Code Update</name>
	<author>k1dbl4ck@gmail.com</author>
	<description>Downloads files to persistant Storage on your Phone, checks md5sum if you want, unzips packed files if necassary (For Android and iOS)</description>
	<license>MIT</license>
	<keywords>atajo,code-update,update</keywords>
	<repo>https://github.com/k1dbl4ck/cordova-plugin-code-update.git</repo>
	<issue>https://github.com/k1dbl4ck/cordova-plugin-code-update/issues</issue>

	<hook type="before_build" src="hooks/before_build.js" />
	<hook type="before_run" src="hooks/before_build.js" />

	<dependency id="cordova-plugin-advanced-http" version="1.10.1" />
	<dependency id="cordova-plugin-file-transfer" version="^1.7.0">
<params name="ANDROIDPERSISTENTFILELOCATION" value="internal" />
	</dependency>
	<dependency id="cordova-plugin-zip" version="^3.1.0" />
	<dependency id="cordova-plugin-nativestorage" version="^2.2.2" />


	<js-module src="www/update.js" name="update">
		<clobbers target="update" />
	</js-module>
</plugin>
